<h3>ClientAppsComponent</h3>

@code {
    private (string name, string image, string port)[] _clients =
        {
        ("Driller scheduling app", "digiwells/driller-scheduling-app:stable", "5274")    
        }; 



}
